ul {
  list-style: none;
  padding: none;
}

.current-weather-container {
  margin: auto;
  width: 50%;
}

.current-weather-container > img {
    display: block;
    margin: auto;
  }

.main-header, .current-weather-container > h2 {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }